INCLUDE("target_timer.cfg");
INCLUDE("syssvc/syslog.cfg");
INCLUDE("syssvc/banner.cfg");
INCLUDE("syssvc/serial.cfg");
INCLUDE("syssvc/logtask.cfg");

#include "cup_timer.h"
#include "device.h"

CRE_TSK(TIMER_TASK, { TA_ACT, 0, timer_task, DEFAULT_PRIORITY, STACK_SIZE, NULL });
CRE_TSK(BLINK_TASK, { TA_ACT, 0, blink_task, DEFAULT_PRIORITY, STACK_SIZE, NULL });

CRE_CYC(LED1_BLINK_HANDLER, { TA_STA, 0, led1_blink_handler, LED1_BLINK_INTERVAL, 1 });
CRE_CYC(LED4_BLINK_TIME_HANDLER, { TA_NULL, 0, led4_blink_time_handler, LED4_BLINK_INTERVAL, 0 });
CRE_CYC(SW_SCAN_HANDLER, { TA_STA, 0, sw_scan_handler, SW_SCAN_INTERVAL, 1 });
CRE_CYC(BASE_TIME_HANDLER, { TA_NULL, 0, base_time_handler, BASE_TIME_INTERVAL, 0 });

CRE_FLG(FLG_TIMER, { TA_CLR, 0 });
CRE_FLG(FLG_BLINK, { TA_CLR, 0 });

ATT_INI({ TA_NULL, 0, led_init });
ATT_INI({ TA_NULL, 0, switch_push_init });
ATT_INI({ TA_NULL, 0, switch_slide_init });
ATT_INI({ TA_NULL, 0, cup_timer_init });
